.advantages
   background-color: #ededed
   padding-bottom: 40px
   padding-top: 40px
.advantage-blocks
    background-color: #fff
    display: flex
    margin-bottom: 20px
    margin-top: 20px
.advantages-block__img
    min-width: 50px
    min-width: 50px
    flex-basis: 20%
.advantages-blocks__text
    padding-top: 5%
    padding-bottom: 5%
    padding-left: 5%
    max-width: 400px
    flex-basis: 80%
    display: flex
    align-items: center
    justify-content: flex-start
    float: left
.advantages-header__text
    text-align: center
    padding-bottom: 20px
    font-size: 40px