.call-order
    text-align: center
.call-order__headText
    padding-top: 50px
    padding-bottom: 20px
.call-order__text
    padding-bottom: 20px
.input-overlay
    padding-bottom: 10px
.call-order__button
    margin-bottom: 30px
.call-order__headText
    font-family: var(--text-font)
    font-size: var(--head-text-size)
.call-order__text
    font-family: var(--text-font)
    font-size: var(--common-text-size)
.form-control
    font-family: var(--text-font)
.btn
    font-family: var(--text-font)