.navbar
  background: var(--main-color)

.nav-link, .navbar-brand
  color: #f4f4f4
  cursor: pointer

.nav-link
  margin-right: 1em !important
  &:hover
      color: black
      .navbar-nav
         color: red 

  &:hover
    background: #f4f4f4
    color: #00CCCC

.navbar-collapse
  justify-content: flex-end

.navbar-toggler
  background: #fff !important

.navbar-collapse
  justify-content: flex-end

.bg-dark, .bg-primary
  background-color: #343a40 !important


.navbar-brand:hover
   color: #fff
   