.overlay-header-nav
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../img/background.jpg")
  background-position: center top
  background-size: cover
  width: 100%
  height: 100vh
  color: #000
.nav-link
  z-index: 2
.navbar-brand
  color: #fff
nav
  z-index: 2
  -webkit-transition: padding-top .7s,padding-bottom .7s
  -moz-transition: padding-top .7s,padding-bottom .7s
  transition: padding-top .7s,padding-bottom .7s
  border: none
.shrink
  position: fixed
  padding-top: 0
  padding-bottom: 0
  height: 50px
  width: 100%
  background-color: #212529
  opacity: 0.5
  transition: 2s
  z-index: 5
  
.banner
  display: flex
  align-items: center
  justify-content: center
  height: 100vh
  text-align: center
.banner-sub-heading
  color: #fff
  font-family: var(--text-font)
  font-size: 40px
  margin-bottom: 20px
.banner-descr
  color: #f0f0f0
  font-family: var(--text-font)
  font-size: 20px
  margin-bottom: 20px

  font-size: 20px!important
.btn:active
  outline: none
  box-shadow: none
.btn:focus
  box-shadow: none
  outline: none
  border: none
