.first-point
    margin: 0 auto
    display: block
    text-align: center
    width: 80px
    height: 80px
    border-radius: 50%
    background-color: #f7e4bc
    align-content: center
    transition: all .2s ease-in
.first-point:hover
        transform: scale(1.1)
        transition: all .2s ease-in
.second-point
    top: 50%
    transform: translate(0%, 30%)
    margin: 0 auto
    width: 50px
    height: 50px
    border-radius: 50%
    background-color: #f5cb73
    align-content: center
    color: black
.third-point
    top: 50%
    transform: translate(0%, 30%)
    margin: 0 auto
    width: 30px
    height: 30px
    border-radius: 50%
    background-color: #fab420
    align-content: center
    color: black
.blocks
    display: flex
    justify-content: space-around
.overlay
    
.services-points__descr
    text-align: center