.first-circle
    position: relative
    display: inline-block
    width: 100px
    height: 100px
    background-color: #b6f0d1
    border-radius: 50%
.second-circle
    position: relative
    width: 65%
    height: 65%
    border-radius: 50%
    background-color: #71d19d
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
.third-circle
    position: relative
    width: 50%
    height: 50%
    border-radius: 50%
    background-color: #46996C
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    text-align: center
    vertical-align: 50%
    font-size: 20px
    color: white
    
.steps
   display: block
.points:hover
    transform: scale(1.1)
    transition: all .2s ease-in-out
.circle-text
    user-select: none

    
