.reviews
    background-color: #EFEFEF
.slider
    margin: 0 auto
.reviews-headtext
    text-align: center
.carousel-overlay

.carousel-overlay img
    vertical-align: middle
    max-width: 200px
    height: auto