body
    --head-text-size: 40px
    --common-text-size: 18px
    --main-color: #ff2f00
    --main-color-light: #ff8f75
    --main-color--extra-light: #ffd4c9
    --text-font: Futura
    --common-text-weight: 400
    --head-text-weight: 600
    --orange-text-color: #ff5900