*
    box-sizing: border-box
body
    
    margin: 0
    padding: 0

@import navbar
@import header
@import services
@import advantages
@import variables
@import fonts
@import prices
@import slider
@import call